{
    "presets": ["env"],
    "plugins": [
        ["babel-plugin-root-import", {
            "paths": [{
                "rootPathPrefix": "~",
                "rootPathSuffix": "server"
            }, {
                "rootPathPrefix": "@",
                "rootPathSuffix": "config"
            }]
        }]
    ]
}
